.cart-container{margin-inline:auto;max-width:640px;width:min(100%,640px)}.loading{-webkit-animation:bling 1.25s infinite;animation:bling 1.25s infinite;background:linear-gradient(30deg,hsla(0,0%,48%,.16),hsla(0,0%,48%,.16) 23%,rgba(41,41,41,.16) 40%,hsla(0,0%,48%,.16) 50%,hsla(0,0%,48%,.16));background-size:800px auto}.loading>img{background:none}@-webkit-keyframes bling{0%{background-position:-400px 0}to{background-position:0 0}}@keyframes bling{0%{background-position:-400px 0}to{background-position:0 0}}
