@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	width: 100%;
}

img:not([src]),
img[src=""] {
	background-color: hsl(0 0% 48%);
}

@media (min-width: 1024px) {
	body {
		max-width: 976px;
		margin-inline: auto;
	}
}

.page-link {
	display: inline-flex;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.cart-icon::before {
	position: absolute;
	top: -0.75em;
	right: -0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	font-size: 0.75rem;
	color: white;
	background-color: black;
	border-radius: 99999px;
	content: attr(data-count);
	font-family: "Roboto", sans-serif;
}

.cart-icon:not([data-count])::before {
	display: none;
}
.cart-icon[data-count="0"]::before {
	display: none;
}
