.cart-container {
	max-width: 640px;
	width: min(100%, 640px);
	margin-inline: auto;
}

.loading {
	background: linear-gradient(
		30deg,
		hsla(0 0% 48% / 0.16) 0%,
		hsla(0 0% 48% / 0.16) 23%,
		hsla(0 0% 16% / 0.16) 40%,
		hsla(0 0% 48% / 0.16) 50%,
		hsla(0 0% 48% / 0.16) 100%
	);
	background-size: 800px auto;
	animation: bling infinite 1.25s;
	& > img {
		background: none;
	}
}

@keyframes bling {
	0% {
		background-position: -400px 0;
	}
	100% {
		background-position: 0 0;
	}
}
